/* signup page */
.signup-form-container {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  margin: 3px;
}

.formbox  {
  display: flex;
  justify-content: center;
}
.activebton {
  background-color: green;
}

.unactivebtn {
  background-color: lightgrey;
}

