@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

input.todo-text {
  width: 100%;
}
input.todo-text- {
  border: 5px solid hsl(155, 71%, 53%);
  border-radius: 20px; 
}
